Host *
  StrictHostKeyChecking no
  SendEnv LANG LC_*
  HashKnownHosts no
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials no
  # These options allow connections to outdated SSH servers.
  # Not a good idea in general, but important sometimes when
  # you have to connect to old servers.
  #HostKeyAlgorithms=+ssh-dss
  #Ciphers=+aes128-cbc,3des-cbc
  #KexAlgorithms=+diffie-hellman-group1-sha1

